@import "../../../styles/variables.scss";

h1{
    color: $primary-green-color;
}

form{
    width: 100%;

    .upload-picture-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}

.butons-div{
    padding-top: 20px;
    .back-button{
        padding-bottom: 20px;
    }
}

/* CSS personalizado para o botão de upload */
.upload-btn {
    padding: 10px 20px;
    background-color: $primary-green-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  