<div class="row text-center title-page">
  <div class="col-sm-12 col-md-12">
    <h1>{{ titlePage }}</h1>
  </div>
</div>

<div class="row form-div">
  <form [formGroup]="formBase">
    <!-- TODO fazer componente de icon e upload img -->
    <div *ngIf="isTypeWasteCollector(formType)" class="row upload-picture-row">
      <div class="card-body text-center">
        <div class="mt-3 mb-4">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
            class="rounded-circle img-fluid"
            style="width: 100px"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-rounded btn-lg">
          Enviar foto
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-4">
        <app-primary-input
          formControlName="name"
          type="text"
          inputName="userName"
          placeholder="Nome"
          label="Nome e sobrenome"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
      <div class="col-sm-10 col-md-4">
        <app-primary-input
          formControlName="phone"
          type="tel"
          inputName="phoneNumber"
          placeholder="Telefone"
          label="Telefone"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
      <div *ngIf="isTypeWasteCollector(formType)" class="col-sm-10 col-md-4">
        <app-primary-input
          formControlName="cpf"
          type="text"
          inputName="cpf"
          placeholder="CPF"
          label="CPF"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-6">
        <app-primary-input
          formControlName="email"
          type="email"
          inputName="email"
          placeholder="Digite seu e-mail"
          label="E-mail"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
      <div class="col-sm-10 col-md-6">
        <app-primary-input
          formControlName="emailCheck"
          type="email"
          inputName="emailCheck"
          placeholder="Confirme o e-mail"
          label="Confirme o e-mail"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-6">
        <app-primary-input
          formControlName="password"
          type="password"
          inputName="password"
          placeholder="Digite sua senha"
          label="Senha"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
      <div class="col-sm-10 col-md-6">
        <app-primary-input
          formControlName="passwordCheck"
          type="password"
          inputName="password"
          placeholder="Confirme sua senha"
          label="Confirme sua senha"
          ><!-- passar aqui o icone --></app-primary-input
        >
      </div>
    </div>
  </form>
</div>
<div class="row butons-div jus">
  <div class="col-sm-10 col-md-6 back-button">
    <app-button-larger-green
      (click)="navigateRegister()"
      btnText="Voltar"
      [disabledBtn]="false"
    ></app-button-larger-green>
  </div>
  <div class="col-sm-10 col-md-6">
    <app-button-larger-green
      (click)="runAction()"
      btnText="Cadastrar"
      [disabledBtn]="false"
    ></app-button-larger-green>
  </div>
</div>
