<div class="resident-container">
    <!-- Botão de Ação -->
    <div class="flex justify-content-center p-5">
        <button
            pButton
            label="Coleta"
            class="p-button-rounded p-button-icon-start p-button-success"
            icon="pi pi-plus"
            style="font-size: 1.5rem; height: 4rem; width: 16rem;"
            [routerLink]="'/coletas/nova'">
        </button>
    </div>

    <!-- Mapa Responsivo -->
    <div class="map-container">
        <app-map></app-map>
    </div>
</div>


