@import "../styles/variables.scss";

header{
    min-height: 8vh;
    height: 8vh;
}

main{
    min-height: 85vh;
    height: 85vh;
    background-color: $primary-gray-color;
}

.footer-nav{
  min-height: 7vh;
  height: 7vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilos para telas pequenas */
@media (max-width: 576px) {
    header {
      min-height: 10vh;
      height: 10vh;
    }
  
    main {
      min-height: 78vh;
      height: 78vh;
      background-color: $primary-gray-color;
    }
  
    .footer-nav {
      min-height: 12vh;
      height: 12vh;
    }
  }