  main{
    /* flex: 1 0 auto; */
    /* padding: 0px !important; */
    /* display: flex; */
    /* width: 100%; */
    /* height: 100vh; */
    min-height: 100vh;
    padding-top: 56px;
    padding-bottom: 7vh;
}

#footer-nav{
    height: 7vh;
}
