@import "../../../styles/variables.scss";

.input-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $black-color;
    text-align: start;
    width: 100%;

    label{
        margin-bottom: 5px;
    }

    .input-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 5px;

        input{
            border: none;
            border-radius: 8px;
            font-weight: 500;
            background-color: $white-color;
            padding: 10px 0 10px 20px;
            width: 100%;
            // width: 90%;]
            //TODO verificar se inserir icones do input
        }

        // .icon{
        //     align-items: center;
        //     justify-content: center;
        //     width: 10%;
        // }
    }
    
}