/* cores design{
    2A8909 // verde
    F1F1F1 //cinza-branco
    D9D9D9 // cinza-claro
    36BA33 //verde-claro
    8CEC84 //verde-opaco
    000000 //preto
    } */

/* definindo variáveis para cores */
$primary-color: #2A8909;
$secondary-color: #F1F1F1;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
$tertiary-color: #D9D9D9;
    /* --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E; */