/* cores design{
    2A8909 // verde
    F1F1F1 //cinza-branco
    D9D9D9 // cinza-claro
    36BA33 //verde-claro
    8CEC84 //verde-opaco
    000000 //preto
    } */

/* definindo variáveis para cores */
$primary-green-color: #2A8909;
$secondary-green-color: #36BA33; //verde-claro
$tertiary-green-color: #8CEC84; //verde-opaco
$primary-gray-color: #D9D9D9;
$secondary-gray-color: #E5E5E5;
$black-color: #000000;
$white-color: #F1F1F1;
$warning-color: #FFB800;
$danger-color: #F80707;
    /* --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E; */