<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!--TODO inserir mini logo ?-->
        <!--        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">-->
        <span>EcoColeta</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
<!--        TODO colocar ola, user...-->
        <button class="p-link layout-topbar-button">
            <span>Olá, {{user.name}}</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/home'">
            <i class="pi pi-map"></i>
            <span>Home</span>
            <!--            TODO iserir routerlink page-->
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-table"></i>
            <span>Coletas</span>
            <!--            TODO iserir routerlink page-->
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-history"></i>
            <span>Histórico de coletas</span>
            <!--            TODO iserir routerlink page-->
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/home/user/perfil'">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-bell"></i>
            <span>Notificações</span>
            <!--            TODO iserir routerlink page notificações ou modal dialog?-->
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Sair</span>
        </button>
    </div>
</div>
