<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 align-items-center">
    <h1>Criar conta como</h1>
  </div>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 align-items-center">
    <div class="">
      <app-button-larger-green
        (click)="navigateResident()"
        btnText="Reciclador"
        [disabledBtn]="false"
      ></app-button-larger-green>
    </div>
    <div class="">
      <app-button-larger-green
        (click)="navigateWasteCollector()"
        btnText="Catador"
        [disabledBtn]="false"
      ></app-button-larger-green>
    </div>
  </div>
</div>
