<div class="bg-secondary full-tam">
  <div class="row icons">
    <div class="col-3 d-flex flex-column align-items-center">
      <i class="bi bi-house"></i>
      <p class="mb-0">Inicio</p>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <i class="bi bi-search"></i>
      <p class="mb-0">Pesquisar</p>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <i class="bi bi-plus-circle"></i>
      <p class="mb-0">Adicionar</p>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <i class="bi bi-person"></i>
      <p class="mb-0">Perfil</p>
    </div>
  </div>
  <!-- <div class="row brand-footer">
      <div class="col-12 text-center"><h6>Ecocoleta</h6></div>
    </div> -->
</div>
