<app-login-default
  title="Login page"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      type="email"
      inputName="email"
      placeholder="Digite seu e-mail"
      label="E-mail"
    ></app-primary-input>
    <app-primary-input
      formControlName="password"
      type="password"
      inputName="password"
      placeholder="Digite sua senha"
      label="Senha"
    ></app-primary-input>
    <section>
      <div class="forgot-checkbox">
        <div class="remember-checkbox">
          <input type="checkbox" id="checkRemember" checked />
          <!-- TODO - Implementar a funcionalidade de lembrar-me -->
          <label for="checkRemember">Lembrar-me</label>
        </div>
        <div class="forgot">
          <!-- TODO - Implementar a rota para a página de recuperação de senha -->
          <span routerLink="/">Esqueci minha senha</span>
        </div>
      </div>
      <div class="button-login">
        <app-button-larger-green
          (click)="runAction()"
          btnText="Entrar"
        ></app-button-larger-green>
      </div>
      <div class="button-signup">
        <app-button-larger-secondary
          (navigate)="navigate()"
          btnText="Não tem uma conta? Cadastre-se"
        ></app-button-larger-secondary>
      </div>
    </section>
  </form>
</app-login-default>
