/* You can add global styles to this file, and also import other style files */
// regular style toast
@import 'ngx-toastr/toastr';

/* importando bootstrap css */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

/* my styles global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
htlm, body{
    height: 100%;
    width: 100%;
}
.full-tam{
    height: 100%;
    width: 100%;
}

/* cores design{
    2A8909 // verde
    F1F1F1 //cinza-branco
    D9D9D9 // cinza-claro
    36BA33 //verde-claro
    8CEC84 //verde-opaco
    000000 //preto
    } */

/* definindo variáveis para cores */
:root{
    --primary: #2A8909;
    --secondary: #F1F1F1;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
    --tertiary: #D9D9D9;
    /* --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E; */
}
/* sobrescrevendo classes padrão do Bootstrap */
/* a marcação !important dá um peso maior a regra, sobrescrevendo regras prévias */
.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
} 
.bg-tertiary, .btn-tertiary{
    background-color: var(--tertiary) !important;
}
/*
.bg-success, .btn-success{
    background-color: var(--success) !important;
}
.bg-info, .btn-info{
    background-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}
.bg-danger .btn-danger{
    background-color: var(--danger) !important;
}
.nav-link {
    color: var(--primary) !important ;
}
.nav-link:hover{
    color: var(--warning) !important ; 
} */

.text-green-white{
    color: #36BA33;
}