<p-panel class="col-12" header="Prefeituras">
    <div class="flex justify-content-center mb-3">
        <button
            pButton
            label="Cadastrar Prefeitura"
            icon="pi pi-plus"
            class="p-button-success p-button-rounded"
            (click)="openCreateDialog()">
        </button>
    </div>
    <p-table
        [value]="companies"
        [paginator]="true"
        [rows]="pageSize"
        [loading]="loading"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="onPageChange($event)"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th class="fixed-column" style="min-width:8rem;">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-company>
            <tr>
                <td>{{ company.name }}</td>
                <td>
                    <i
                        [ngClass]="company.activo ? 'pi pi-check text-green-500' : 'pi pi-times text-red-500'"
                        style="font-size: 1.5rem;"
                    ></i>
                </td>
                <td class="fixed-column">
                    <!-- Botão Detalhes -->
                    <button
                        pButton
                        class="p-button-rounded p-button-info p-button-sm mr-1"
                        icon="pi pi-user"
                        (click)="openDetailsDialog(company.id)"
                        title="Ver Detalhes"
                    ></button>

                    <!-- Botão Desativar -->
                    <button
                        *ngIf="company.activo"
                        pButton
                        class="p-button-rounded p-button-danger p-button-sm mr-1"
                        icon="pi pi-ban"
                        (click)="openDeactivateDialog(company)"
                        title="Desativar Prefeitura"
                    ></button>

                    <!-- Botão Ativar -->
                    <button
                        *ngIf="!company.activo"
                        pButton
                        class="p-button-rounded p-button-success p-button-sm mr-1"
                        icon="pi pi-check"
                        (click)="toggleUserStatus(company, true)"
                        title="Ativar Prefeitura"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<!-- Dialog de Detalhes -->
<p-dialog
    [(visible)]="detailsDialogVisible"
    [header]="'Editar Catador: ' + selectedCompany?.name"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '80vw' }"
    [dismissableMask]="true"
    (onHide)="closeDetailsDialog()">

    <app-user-form
        *ngIf="selectedCompany"
        [formData]="selectedCompany"
        [formModeUpdate]="true"
        [userRole]="'COMPANY'"
        (formSubmitted)="handleFormSubmission($event)">
    </app-user-form>
</p-dialog>


<!-- Dialog de Cadastro de Prefeituras -->
<p-dialog
    [(visible)]="newCompanyDialogVisible"
    [header]="'Cadastrar Prefeitura'"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '80vw' }"
    [dismissableMask]="true"
    (onHide)="closeCreateDialog()">

    <app-user-form
        [formModeUpdate]="false"
        [userRole]="'COMPANY'"
        (formSubmitted)="handleFormSubmission($event)">
    </app-user-form>
</p-dialog>


<!-- Dialog de Confirmação de Desativação -->
<p-dialog
    [(visible)]="deactivateDialogVisible"
    [header]="'Desativar ' + selectedCompany?.name"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '55vw' }"
    [dismissableMask]="true"
>
    <p>Tem certeza de que deseja desativar o catador <strong>{{ selectedCompany?.name }}</strong>?</p>
    <div class="flex justify-content-end gap-2">
        <button pButton label="Cancelar" class="p-button-text" (click)="deactivateDialogVisible = false"></button>
        <button pButton label="Confirmar" class="p-button-danger" (click)="confirmDeactivate()"></button>
    </div>
</p-dialog>
