<div class="container-fluid">
  @switch (userLogged?.role) { @case ('WASTE_COLLECTOR') {
  <!-- //TODO fazer footer tipo catador -->
  <div class="row row-default">
    <div class="col-12">Ecocoleta&reg; LOGADO CATADOR</div>
  </div>
  } @case ('RESIDENT') {
  <div class="row row-icons">
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="no-decoration" [routerLink]="['/home']">
        <i class="bi bi-house"></i>
        <p class="mb-0">Inicio</p>
      </a>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="no-decoration" [routerLink]="['/user/', userLogged?.id]">
        <i class="bi bi-person"></i>
        <p class="mb-0">Perfil</p>
      </a>
    </div>
  </div>
  } @default {
  <div class="row row-default">
    <div class="col-12">Ecocoleta&reg;</div>
  </div>
  } }
</div>
