<div class="container">
  <!-- //TODO componente com for... -->
  @for (address of addresses; track $index) {
  <app-address-card
    [address]="address"
    (deleteClick)="handleDeleteAddress($event)"
    (updateClick)="handleUpdateAddress(address)"
  ></app-address-card
  >} @empty {Sem Endereço} @if (canAddAddress) {
  <div class="row butons-div">
    <div class="col-sm-10 col-md-6">
      <app-button-larger-green
        (click)="navigateRegisterNewAddress()"
        btnText="Adicionar Endereço"
        [disabledBtn]="false"
      ></app-button-larger-green>
    </div>
  </div>
  }
</div>
